
$white:white;
*{
	margin: 0;
	padding: 0;
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
	color:gray;
}
.kehu:hover{
	border: .1rem solid gray;
	background: $white;
}
html{
	font-size:62.5%;
	.wrap{
		width: 1365px;
		font-size: 12px;
		background:#f9f9f9;
		header{
			width:1365px;
			height: 3rem;
			background: #f9f9f9;
			border-bottom:1px solid gray;
			.header{
				width:1165px;
				height:3rem;
				margin:0 auto;
				div{
					float:left;
					height:3rem;
					line-height:3rem;
					span{
						margin:0 5px;
					}
				}
				ul{
					float:right;
					height:3rem;
					list-style: none;
					-webkit-box-sizing:border-box;
				li{
					height:3rem;
					float:left;
					line-height: 3rem;
					padding:0 6px;
					box-sizing:border-box;
					a:hover{
							border-bottom: 1px solid gray;
						}
					}
				}
			}			
		}
		.logos{
			width:1165px;
			height:6rem;
			margin:0 auto;
			background:$white;
			div{
				width:230px;
				height:6rem;
				float:left;
				img{
					width:230px;
					height:6rem;
				}
			}
			ul{
				height:6rem;
				float:right;
				li{
					float:left;
					font-size:16px;
					padding:10px 10px;
					margin:1.5rem;
				}
				li:hover{
					background:#f9f9f9;
				}
			}
		}
		#myCarousel{
			width:1165px;
			margin:0 auto;
			position: relative;
			top:-13px;
			#xiushouji{
				width:260px;
				position:absolute;
				left:0;
				top:20px;
				div{
					width:260px;
					height:6.9rem;
					background:rgba(0,0,0,.8);
					font-size:1.7rem;
					color:$white;
					padding:2px 0 2px 20px;
					img{
						margin-left:10px;
					}
					span{
						margin-left: 28px;
					}
				}
				div:hover{
					background:green;
				}
			}
		}
		.situ{
			width:1165px;
			height:166px;
			margin: 0 auto;
			img{
				width:291px;
				float:left;
			}
		}
		p{
			width:1165px;
			height:2rem;
			margin:0 auto;
			background:red;
			h1{
				width:100px;
				height:2rem;
				float:left;
				background:blue;
			}
			span{
				float:right;
			}
		}
	}
}
